<h2>@Model["patron"].GetName()</h2>
<p>Patron phone number: @Model["patron"].GetPhoneNumber()</p>

<h4>Checkout History</h4>
<ul>
  @foreach(var checkout in Model["checkouts"])
  {
    <li><a href="/books/@checkout.GetBook().GetId()">@checkout.GetBook().GetTitle()</a> | Due Date: @checkout.GetDueDate() | Checked out on: @checkout.GetCheckoutDate()</li>
  }
</ul>
